<script src="/js/lib/jquery-1.11.1.min.js"></script>
<script src="/js/page/index.js"></script>
<link href="/css/index.css" rel="stylesheet" type="text/css" />

<h1><%= title %></h1>

<div class="category">
    <select name="category" id="J-cate-slt">
        <% for( var i = 0; i < categorys.length; i++ ) { %>
        <% var item = categorys[ i ] %>
            <option value="<%= item._id %>"><%= item.name %></option>
        <% } %>
        <option value="">新增</option>
    </select>

    <input id="J-new-cate-ipt" class="hide" type="text" name="category[name]" />

    <p><input id="J-newapi-btn" type="button" value="提交" /></p>
</div>


<% for( var i = 0; i < categorys.length; i++ ) { %>
    <% var cateItem = categorys[ i ] %>
    <p><a href="/list/<%= cateItem._id %>"><%= cateItem.name %></a></p>

    <% for( var j = 0; j < cateItem.apis.length; j++ ) { %>
        <% var item = cateItem.apis[ j ] %>
        <p><%= item.baseInfo %></p>
        <p><%= item.requestField %></p>
        <p><%= item.responseField %></p>
        <p><%= item.responseData %></p>
        <p>-------------------------</p>
    <% } %>
<% } %>



