<script src="/js/lib/jquery-1.11.1.min.js"></script>
<script src="/js/page/list.js"></script>

<h1><%= title %></h1>

<h2><%= category.name %></h2>

<ul id="J-api-list">
    <% for( var i = 0; i < category.apis.length; i++ ) { %>
        <% var item = category.apis[ i ] %>
        <li>
            <p><%= item.baseInfo %></p>
            <p><%= item.requestField %></p>
            <p><%= item.responseField %></p>
            <p><%= item.responseData %></p>
            <a href="/api/update/<%= item._id %>">编辑</a>
            <a href="javascript:;" class="delete-btn" data-id="<%= item._id %>">删除</a>
            <p>-----------------------------------</p>
        </li>
    <% } %>
</ul>


