<script src="/js/lib/jquery-1.11.1.min.js"></script>

<h1><%= title %></h1>

<h2><%= category.name %></h2>

<% for( var i = 0; i < category.apis.length; i++ ) { %>
    <% var item = category.apis[ i ] %>
    <p><%= item.baseInfo %></p>
    <p><%= item.requestField %></p>
    <p><%= item.responseField %></p>
    <p><%= item.responseData %></p>
    <p>-------------------------</p>
<% } %>


